{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=poppins">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    
</head>

<body>

    <div class="container">
        <div class="form-box">


            <h1 class="title">Sign Up</h1>
            <div class="underline"></div>
            <form>
                <div class="input-group">

                    <div class="input-field namefield">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" placeholder="Name">
                    </div><!--inoutfield end-->

                    <div class="input-field">
                        <i class="fa-solid fa-envelope"></i>
                        <input type="email" placeholder="Email">
                    </div><!--inoutfield end-->

                    <div class="input-field">
                        <i class="fa-solid fa-key"></i>
                        <input type="password" placeholder="Password">
                    </div><!--inoutfield end-->
                    <p>Forget Password <a href="#"> Click Here! </a></p>

                </div><!--input group end-->
                <div class="btn-field">
                    <button type="button" class="Signupbtn">Sign Up</button>
                    <button type="button" class="disable signinbtn">Sign In</button>
                </div><!--btn end-->
            </form>
        </div><!--End form box-->
    </div><!--End container-->
    {% endif %}
    </div>
    
    <script src="./script.js"></script>

</body>

</html>